/*** STEP 4 ***/

.step4 .personalInformation {
font-size: 35px;
font-weight: bold;
}

.step4 .signupDetails{
	padding-top: 8%;
}


.step4 .fields {
   height: auto;
   overflow: hidden;
	
}

.step4 .left {
	
    float: left; /* not needed, just for clarification */
    /* the next props are meant to keep this block independent from the other floated one */
    width: 30%;
    overflow: hidden;
}

.step4  .right {
	width: 70%;
    float: right;
}	

.step4  .right .formGroup  {
	padding-top: 3%;
}	


.step4  .right .radios  {
	padding-top: 3%;
}	

.step4  .right .formGroup > label {
	float:left;
	line-height: 46px;
	width: 30%;	

}	

.step4  .right .formGroup > input {
	width: 50%;
	float:left;
}	

.step4  .right .formGroup .radios {
	width: 60%;
}	

.profileProgress  {
	width: 100%;
	background: #f7f7f7;
	margin-top: 30px;

}	

.profileProgress a:first-child {
	position: absolute;
	left: 0;
}	

.profileProgress a:last-child{
	position: absolute;
	right: 0;
}	


.profileProgress p{
	line-height: 49px;
	text-align: center;
	float:left;
	width: 100%;
}	




​