/*** MEDIA QUERYS **/
@media screen and (max-width: 635px) {
	.step1 .headerContent {
		top: 5px;
	}
	.step1 .headerContent h2 {
		margin: 10px auto 10px auto;
	}
	/*step1 .greenContent {
		top: 74px;
		width: 132px;
		left: 56px;
	}*/
	.step1 .greenContent .text1 {
		font-size: 10px;
		margin: 5px 0 0 5px;
	}
	.step1 .greenContent .line2 .price {
		margin-left: 5px;
		margin-right: 5px;
		font-size: 52px;
	}
	.step1 .greenContent .line2 .credits {
		line-height: 9px;
		font-size: 7px;
	}
	.step1 .greenContent .line2 .imageContainer {
		height: 20px;
		margin: 6px auto 6px auto;
	}
	.step1 .greenContent .line2 .imageContainer img {
		height: 100%;
	}
	.step1 .greenContent .text3 {
		font-size: 10px;
		margin-right: 0;
	}
	.step1 .greenContent .text4 {
		font-size: 10px;
		margin-right: 0;
	}
	.step1 .greenContent .text5 {
		font-size: 5px;
		margin: 0;
	}
	.step1 .fbContent p {
		font-size: 10px;
		margin-top: 8px;
	}
	.step1 .bottomContent p {
		font-size: 8px;
	}
}

@media screen and (max-width: 550px) {
	.step2 h1 {
		font-size: 30px
	}
	.step2 h3 {
		font-size: 14px
	}
	.step2 .signupFacebook {
		float: none;
		width: 100%;
		padding-bottom: 15px;
		border-bottom: 1px solid #ebebeb;
	}
	
	.step2 .signupFacebook .text4 {
		color: #999797;
		text-align: left;
		width: 85%;
	}
	
	.step2 .signupDetails {
		float: none;
		width: 100%;
	}
	
	.step2 .formText {
		font-size: 14px;
	}
	
	.img-responsive {
	max-width: 100%;	
	padding-top: 32px;
	}
}

@media screen and (max-width: 620px) {
	.step6  .right {
		width: 100%;
		float: left;
	}
	.step6  .right .formGroup>div #phoneNumber {
		width: 70%;
		padding: 0;
	}
	.step6 .left {
		 /* not needed, just for clarification */
		/* the next props are meant to keep this block independent from the other floated one */
		width: 100%;
		padding-left: 40%;
		overflow: hidden;
	}
}

@media screen and (max-width: 550px) {
	.step7 .skills_row .item:first-child {
	
		width:100%;
	}
	.step7 .skills_row .item:last-child {
		width:100%;
	}
}


@media screen and (max-width: 550px) {
	.step8 .qualificationCertificate label {
		background-image: url(../images/signup/step8_ico.png);
		width: 100%;
	}
	
	 .step8 .qualificationCertificate .inputFile {
	 	width: 100%;
	}
	
	.step8 .qualificationCertificate label {
	 font-size: 12px;
	}
}


@media screen and (max-width: 680px)  and (min-width: 550px)  {

	.step9 .availability_row .item.hours p{
		font-size: 15px;
		width: 60%;
	}
	
	.step9 .availability_row .item p{
		font-size: 15px;
	}
	

}

@media screen and (max-width: 550px) {
	.step9 .availability_row .item:first-child {
		width:100%;
	}
	
	.step9 .availability_row .item:last-child {
		width:100%;
	}
	
}

@media screen and (max-width: 580px) {
	.step11 .content p {
		font-size: 13px;
		line-height: 14px;
	}
}

@media screen and (max-width: 550px) {
	.step12 .left {
	   /* not needed, just for clarification */
	    /* the next props are meant to keep this block independent from the other floated one */
	    width: 100%;
	    overflow: hidden;
	}

	.step12 .right {
		width: 100%;
	}	
	
	.step12 .right .formGroup > div #phoneNumber  {
	width: 70%;	
	padding:0;

	}	
	
	.step12  .right .formGroup > label {
	float:left;
	line-height: 46px;
	width: 30%;	
	text-align: left;
	font-size: 14px;

	}	
}


@media screen and (max-width: 550px) {
	.step13 .left {
	    width: 100%;
	    overflow: hidden;
	}
	.step13 .right {
		width: 100%;
	}	
	
	.step13  .right .formGroup > label {
	float:left;
	line-height: 19px;
	width: 30%;		
	text-align: left;
	font-size: 13px;
	}	
	
	.step13  .right .formGroup > input {
		width: 63%;
		float:right;
	}	
	
	.step13  .right .formGroup > select {
		width: 68%;
		float:right;
	}	
	
	.step13 .right .formGroup > div #cityCode  {
		width: 15%;	
	}
	
	.step13 .right .formGroup > div #phoneNumber  {
		width: 60%;	
		padding:0;
	}
}

@media screen and (max-width: 550px) {

	.step14 .left {
  
    /* the next props are meant to keep this block independent from the other floated one */
    width: 100%;
    overflow: hidden;
	}

	.step14 .right {
		width: 100%;
	
	}	
}


@media screen and (max-width: 550px) {
	
	 .step15 .utilityBill  .inputFile{
	 	width: 100%;
	}
	
	.step15 .addressContent label {
	 font-size: 12px;
	 width: 100%;
	}
	
	.step15 .box .addressContent img {
	max-width: 100%;
	margin: 10px auto 20px auto;
	display: block;
	}
	
}

@media screen and (max-width: 550px) {
	 #wrapper > h2 {
	 	font-size:  22px;
	 	width: 100%;
	 	padding-left: 8%;
	 	
	}
}
@media screen and (max-width: 550px) {
	 .step16 .passportLicence   .inputFile{
	 	width: 100%;
	}
	
	.step16 .passportLicence  label {
		line-height: 15px;
		padding-left: 41%;
	}
	
	.step16 .box .passportLicence img {
	max-width: 100%;
	margin: 10px auto 20px auto;
	display: block;
	}
	
	
	.step16 .documents .passport{
		width:100%;
		
	}
	
	.step16 .documents .licence{
		width:100%;
	}
	
	.step16 .country label
	{
		width:100%;
	}
	
	.step16 .country select{
		width:100%;
	}
}

@media screen and (max-width: 475px) {
	.step16 .passportLicence label{
		line-height: 10px;
		padding-left: 44%;
	}
	.step10 .workLocation > div.tagsinput{
		padding: 0;
	}
	.step9 .availability_row .item.hours p{
		width:60%;
		font-size:13px;
	}
	.step9 .availability_row .item p{
		font-size:13px;
	}
	.step9 select {
		width: 100%;
	}
	
	/*** STEP 4 ***/
	#wrapper > h2 {
	font-size: large;	
		
	}	
		
	.step4 .personalInformation {
	font-size: 35px;
	font-weight: bold;
	}
	
	.step4 .signupDetails, .step6 .signupDetails{
		padding-top: 8%;
	}
	
	
	.step4 .fields {
	   height: auto;
	   overflow: hidden;
		
	}
	
	.step4 .left , .step6 .left {
	    /* the next props are meant to keep this block independent from the other floated one */
	    width: 100%;
	    overflow: hidden;
	    padding: 0;
	}
	
	.step4  .right {
		width: 100%;
	 
	}	
	
	.step4  .right .formGroup  {
		padding-top: 3%;
	}	
	
	
	.step4  .right .radios  {
		padding-top: 3%;
	}	
	
	.step4  .right .formGroup .radios > input, .step4  .right .formGroup .radios > label {
		float: none;
	}

	.step4  .right .formGroup > label , .step6  .right .formGroup > label , .step12  .right .formGroup > label  {
		font-size: medium;
		line-height: 30px;
		width: 100%;	
		text-align:left;
	
	}	
	
	.step4  .right .formGroup > input , .step6  .right .formGroup > input , .step6  .right .formGroup > select , .step12  .right .formGroup > input , .step12  .right .formGroup > select { 
		width: 100%;
		float:none;
	}	
	
	.step4  .right .formGroup .radios {
		width: 100%;
	}	
	
	.step4  .right .formGroup .radios label{
		font-size: medium;
		line-height: 30px;
		width: 100%;	
	}	
	
	
	.profileProgress  {
		width: 100%;
		background: #f7f7f7;
		margin-top: 30px;
	}	
	
	.profileProgress a:first-child {
		position: absolute;
		left: 0;
	}	
	
	.profileProgress a:last-child{
		position: absolute;
		right: 0;
	}	
	
	
	.profileProgress p{
		line-height: 47px;
		text-align: center;
		float:left;
		width: 100%;
		color: #a3a2a2;
		font-size: 10px;
		box-shadow: inset 0 0 0 1px #edecec;
	}	
	
/*** END STEP 4 ***/

/***  STEP 5 ***/

	.step5 .insuranceCover {
		width: 100%;
		font-size: 16px;
		margin-top: 67px;
		margin-bottom: 30px;
	}
	
	.step5 .insuranceCover select {
		width: 108%;
		color: #383737;
		font-weight: bold;
		margin-top: 12px;
	}
	
		.step5 .insuranceFields .form-group label {
		width: 100%;
		font-size: 16px;
		font-weight: bold;
		line-height: 22px;
	}
	
	.step5 .insuranceFields .form-group input {
		width: 100%;
	}
	
	.step5 .insuranceCertificate label, .step8 .qualificationCertificate label, .step15 .utilityBill label, .step16 .passportLicence label {
		float: left;
		background: url(../images/signup/step5_ico.png) no-repeat;
		font-size: 14px;
		font-weight: bold;
		background-size: contain;
		line-height: 17px;
		display: inline-block;
		padding-left: 66px;
	}
	
	.step8 .qualificationCertificate label{
		float: left;
		background: url(../images/signup/step5_ico.png) no-repeat;
		font-size: 14px;
		font-weight: bold;
		background-size: contain;
		line-height: 17px;
		display: inline-block;
		padding-left: 40px;
	}

	.step5 .insuranceCertificate .inputFile, .step8 .qualificationCertificate .inputFile, .step15 .utilityBill .inputFile, .step16 .passportLicence .inputFile {
		width: 100%;
		height: 30px;
		padding-top: 10px;
	}
	
	.step5 .padlock {
		position: absolute;
		right: 32%;
		max-width: 30%;
	}

	
/*** END STEP 5 ***/
	
	
/*** STEP 6 ***/
	
	.step6  .right .formGroup > div:first-child {
	width: 100%;	
	line-height: 19px;
	}	

	.step6  .right .formGroup > div:last-child  {
		width: 100%;	
	}	
	
	.step8 .qualificationTop div:last-child {
		width: 100%;
		float: left;
		padding-top:10px;
	}
	
	/*** END STEP 6 ***/

	/*** STEP 7 ***/
	.step7 .other{
		margin-top: 30px;
	}
	
	.step7 .other .other_label{
		width: 30%;
		float: left;
		font-size: 20px;
		font-weight: bold;
		padding-left:0%;
		padding-top: 5px;
	}
	
	.step7 .other .checkbox input[type='checkbox']{
		width: 31px;
		height: 26px;
	}
	.step7 .other .checkbox input[type='text']{
		height: 44px;
		border: 1px solid #eeeded;
		border-radius: 4px;
		font-size: 16px;
		padding: 0;
		margin: 0;
		width: 100%;
		margin-left: 0%;
	}
	.step7 .other p {
		margin-left: 0%;
		margin-top: 5px;
		color:#2aad59;
		text-decoration: underline;
	}
	
	.step7 .describe textarea{
	margin-top: 3%;
	width: 100%;
	height: 106px;
	border: 1px solid #eeeded;
	border-radius: 4px;
	font-size: 16px;
	}
	
	.step7 .describe{
	margin-top:20px;
	}
	
	.step7 .profileProgress{
	margin-top: 20px;
}
	/*** END STEP 7 ***/
	
}

@media screen and (max-width: 320px) {
	.step13 .right .formGroup > select{
		font-size: 13px;
	}
}

@media screen and (max-width: 480px) {
	.step1 .greenContent .line2 .price {
		font-size: 28px;
	}
}

@media screen and (max-width: 360px) {
	.step10 .workLocation > div.tagsinput{
		padding: 0;
	}
	.step9 .availability_row .item.hours p{
		width:60%;
		font-size:13px;
	}
	.step9 .availability_row .item p{
		font-size:13px;
	}
	.step9 select {
		width: 100%;
	}
	.step13 .right .formGroup > select {
		padding: 4px;
	}
	
}

