/*** MEDIA QUERYS **/
@media screen and (max-width: 635px) {
	.step1 .headerContent {
		top: 5px;
	}
	.step1 .headerContent h2 {
		margin: 10px auto 10px auto;
	}
	.step1 .greenContent {
		top: 74px;
		width: 132px;
		left: 56px;
	}
	.step1 .greenContent .text1 {
		font-size: 10px;
		margin: 5px 0 0 5px;
	}
	.step1 .greenContent .line2 .price {
		margin-left: 5px;
		margin-right: 5px;
		font-size: 32px;
	}
	.step1 .greenContent .line2 .credits {
		line-height: 9px;
		font-size: 7px;
	}
	.step1 .greenContent .line2 .imageContainer {
		height: 20px;
		margin: 8px auto 8px auto;
	}
	.step1 .greenContent .line2 .imageContainer img {
		height: 100%;
	}
	.step1 .greenContent .text3 {
		font-size: 8px;
		margin-right: 0;
	}
	.step1 .greenContent .text4 {
		font-size: 8px;
		margin-right: 0;
	}
	.step1 .greenContent .text5 {
		font-size: 5px;
		margin: 0;
	}
	.step1 .fbContent p {
		font-size: 10px;
		margin-top: 8px;
	}
	.step1 .bottomContent p {
		font-size: 8px;
	}
}

@media screen and (max-width: 550px) {
	.step2 h1 {
		font-size: 30px
	}
	.step2 h3 {
		font-size: 14px
	}
}

@media screen and (max-width: 620px) {
	.step6  .right {
		width: 100%;
		float: left;
	}
	.step6  .right .formGroup>div #phoneNumber {
		width: 70%;
		padding: 0;
	}
	.step6 .left {
		 /* not needed, just for clarification */
		/* the next props are meant to keep this block independent from the other floated one */
		width: 100%;
		padding-left: 40%;
		overflow: hidden;
	}
}

@media screen and (max-width: 550px) {
	.step7 .skills_row .item:first-child {
	
		width:100%;
	}
	.step7 .skills_row .item:last-child {
		width:100%;
	}
}


@media screen and (max-width: 550px) {
	.step8 .qualificationCertificate label {
		background-image: url(../images/signup/step8_ico.png);
		width: 100%;
	}
	
	 .step8 .qualificationCertificate .inputFile {
	 	width: 100%;
	}
	
	.step8 .qualificationCertificate label {
	 font-size: 12px;
	}
}


@media screen and (max-width: 727px) {
	.step9 .availability_row .item:first-child {

	width:100%;
	}
	
	.step9 .availability_row .item:last-child {
		
		width:100%;
	}
	
}

@media screen and (max-width: 580px) {
	.step11 .content p {
		font-size: 13px;
		line-height: 14px;
	}
}

@media screen and (max-width: 550px) {
	.step12 .left {
	   /* not needed, just for clarification */
	    /* the next props are meant to keep this block independent from the other floated one */
	    width: 100%;
	    overflow: hidden;
	}

	.step12 .right {
		width: 100%;
	}	
	
	.step12 .right .formGroup > div #phoneNumber  {
	width: 70%;	
	padding:0;

	}	
	
	.step12  .right .formGroup > label {
	float:left;
	line-height: 46px;
	width: 30%;	
	text-align: left;
	font-size: 14px;

	}	
}


@media screen and (max-width: 720px) {
	.step13 .left {
	    width: 100%;
	    overflow: hidden;
	}
	.step13 .right {
		width: 100%;
	}	
	
	.step13  .right .formGroup > label {
	float:left;
	line-height: 19px;
	width: 30%;		
	text-align: left;
	font-size: 13px;
	}	
	
	.step13  .right .formGroup > input {
		width: 63%;
		float:right;
	}	
	
	.step13  .right .formGroup > select {
		width: 68%;
		float:right;
	}	
	
	.step13 .right .formGroup > div #cityCode  {
		width: 15%;	
	}
	
	.step13 .right .formGroup > div #phoneNumber  {
		width: 60%;	
		padding:0;
	}
}

@media screen and (max-width: 550px) {

	.step14 .left {
  
    /* the next props are meant to keep this block independent from the other floated one */
    width: 100%;
    overflow: hidden;
	}

	.step14 .right {
		width: 100%;
	
	}	
}


@media screen and (max-width: 550px) {
	
	 .step15 .utilityBill  .inputFile{
	 	width: 100%;
	}
	
	.step15 .addressContent label {
	 font-size: 12px;
	 width: 100%;
	}
	
	.step15 .box .addressContent img {
	max-width: 100%;
	margin: 10px auto 20px auto;
	display: block;
	}
	
}

@media screen and (max-width: 550px) {
	 #wrapper > h2 {
	 	font-size:  22px;
	 	width: 100%;
	 	padding-left: 8%;
	 	
	}
}
@media screen and (max-width: 550px) {
	 .step16 .passportLicence   .inputFile{
	 	width: 100%;
	}
	
	.step16 .passportLicence  label {
	 font-size: 12px;
	 padding-left: 55%;
	}
	
	.step16 .box .passportLicence img {
	max-width: 100%;
	margin: 10px auto 20px auto;
	display: block;
	}
	
	
	.step16 .documents .passport{
		width:100%;
		
	}
	
	.step16 .documents .licence{
		width:100%;
	}
	
	.step16 .country label
	{
		width:100%;
	}
	
	.step16 .country select{
		width:100%;
	}
}







