@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

html {
	width: 100%;
	font-family: Arial, sans-serif;	
	font-size: 14px;
	color: #7e7c7c;
	background: #FFFFFF;
}

html.signup2 {
	background: #fafafa;
}

body {
	padding: 20px 30px 20px 30px;
}

a {
	color: #4c7cbd;
	text-decoration: none;	
}

.droidFont {
	font-family: 'Droid Sans', sans-serif;
}

h2 {
	font-size: 35px;
	font-weight: bold;
	color: #464545;	
	margin-top: 30px;
}

/* new clearfix */
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clearfix { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.input {
	height: 44px;
	background: #f7f7f7;
	border: 1px solid #eeeded;
	border-radius: 4px;
	font-size: 16px;
	padding: 0;
	margin: 0;
	padding-left: 20px;
	color: #7e7c7c;
}

html.signup2 .input {
	background: #fcfcfc;
}

.select {
	overflow: hidden;
	background: url(../images/signup/select_arrow.png) no-repeat right #f7f7f7;
	-webkit-appearance: none;	
}

.img-responsive {
	max-width: 100%;	
}

.inputFile {
	position: relative;
	overflow: hidden;
}
.inputFile input {
	cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.bold {	
	font-weight: bold;
}

.box {
	background: #f7f7f7;
	border: 1px solid #edecec;
	border-radius: 5px;
	padding: 16px 20px;
}

#wrapper {
	max-width: 675px;
	margin: 0 auto;
	position: relative;
}


/*** STEP 1 ***/
.step1 .headerContent {
	position: absolute;
	top: 30px;
}

.step1 .headerContent h1 {
	color: #000000;
	font-size: 36px;
	text-align: center;
	width: 100%;
	margin: 0 auto;
}

.step1 .headerContent h2 {
	color: #000000;
	font-size: 30px;
	text-align: center;
	width: 100%;
	margin: 15px auto 15px auto;
}

.step1 .headerContent h4 {
	color: #4d4b4b;
	font-size: 24px;
	text-align: center;
	max-width: 80%;
	margin: 0 auto;
}

.step1 .headerContent .green {
	color: #00a243;
}

.step1 .greenContent {	
	position: absolute;
	color: #FFFFFF;
	top: 207px;
	width: 360px;
	left: 158px;
}

.step1 .greenContent .text1 {	
	font-size: 21px;
	margin: 5px 0 0 5px;
}

.step1 .greenContent .line2 .price {	
	float: left;
	font-size: 73px;
	margin-left: 15px;
	margin-right: 10px;
}

.step1 .greenContent .line2 .credits {	
	font-size: 22px;
	line-height: 30px;
	padding-top: 8px;
}

.step1 .greenContent .line2 .imageContainer {	
	margin: 10px auto 10px auto;
}

.step1 .greenContent .line2 .imageContainer img {	
	margin: 0 auto;
	display: block;
}

.step1 .greenContent .text3 {	
	font-size: 24px;
	text-align: right;
	margin-right: 10px;
}

.step1 .greenContent .text4 {	
	font-size: 24px;
	margin-right: 10px;
	text-align: right;
	text-decoration: underline;
}

.step1 .greenContent .text5 {	
	font-size: 16px;
	margin-top: 10px;
	text-align: right;
	margin-right: 15px;
}

.step1 .fbContent {
	width: 100%;
	position: absolute;
	top: 70%;
}

.step1 .fbContent p {
	text-align: center;
	font-size: 14px;
	color: #7e7c7c;
	margin-top: 14px;
}

.step1 .facebookButton {
	max-width: 50%;
	margin: 0 auto;
	display: block;
	text-align: center;
}

.step1 .bottomContent {
	width: 100%;
	position: absolute;
	bottom: 2%;
}

.step1 .bottomContent p {
	font-size: 16px;
	color: #7e7c7c;
}

.step1 .bottomContent p:first-child {
	float: left;
	margin-left: 2%;
}

.step1 .bottomContent p:last-child {
	float: right;
	margin-right: 2%;
}

/*** STEP 2 ***/
.step2 .headerContent {
	border-bottom: 1px solid #5773b1;
	padding-bottom: 16px;
	padding-left: 90px;
	background: url(../images/signup/target.png) no-repeat left center;
}

.step2 h1 {
	display: inline;
	font-size: 50px;
	color: #8d8d8d;
	border-bottom: 2px solid #d9d7d7;
}

.step2 h3 {
	font-size: 18px;
	color: #999797;
	margin-top: 14px;
}

.step2 .signupDetails {
	width: 60%;
	float: left;
}

.step2 .signupFacebook {
	width: 40%;
	float: right;
}

.step2 .formText {
	margin: 30px 0 20px 0;
}

.step2 .fields {
	border-right: 1px solid #ebebeb;
}

.step2 .fields input[type="text"] {
	width: 80%;
	margin-bottom: 10px;
}

.step2 .fields .checkbox {
	width: 80%;
}

.step2 .fields .checkbox input {
	width: 20px;
	height: 25px;
	float: left;
}

.step2 .signupFacebook a {
	display: block;
	padding-left: 20%;
	margin-top: 20px;
}

.step2 .signupContent {
	width: 100%;
	margin-top: 40px;
}

.step2 .signupButton {
	max-width: 30%;
	margin: 0 auto;
	display: block;
	text-align: center;
}

/*** STEP 3 ***/
.step3 .faded {
	background: #fafafa;
	padding: 30px;
}

.step3 h2 {
	margin: 0;
	text-align: center;
}

.step3 h3 {
	font-weight: normal;
	font-size: 16px;
	text-align: center;
	max-width: 70%;
	margin: 30px auto 20px auto;
}

.step3 .imageHolder {
	width: 100%;
}

.step3 .imageHolder img {
	max-width: 60%;
	margin: 0 auto;
	display: block;
}

.step3 h4 {
	font-size: 16px;
	text-align: center;
	margin-top: 45px;
	margin-bottom: 24px;
}

.step3 .information {
	font-size: 14px;
	max-width: 70%;
	text-align: center;
	margin: 0 auto 30px auto;
}

.step3 .continueContent {
	width: 100%;
}

.step3 .continueButton {
	max-width: 50%;
	margin: 0 auto;
	display: block;
	text-align: center;
}

/*** STEP 4 ***/

.step4 .personalInformation {
font-size: 35px;
font-weight: bold;
}

.step4 .signupDetails{
	padding-top: 8%;
}


.step4 .fields {
   height: auto;
   overflow: hidden;
	
}

.step4 .left {
	
    float: left; /* not needed, just for clarification */
    /* the next props are meant to keep this block independent from the other floated one */
    width: 30%;
    overflow: hidden;
}

.step4  .right {
	width: 70%;
    float: right;
}	

.step4  .right .formGroup  {
	padding-top: 3%;
}	


.step4  .right .radios  {
	padding-top: 3%;
}	

.step4  .right .formGroup > label {
	float:left;
	line-height: 46px;
	width: 30%;	

}	

.step4  .right .formGroup > input {
	width: 50%;
	float:left;
}	

.step4  .right .formGroup .radios {
	width: 60%;
}	

.profileProgress  {
	width: 100%;
	background: #f7f7f7;
	margin-top: 30px;
}	

.profileProgress a:first-child {
	position: absolute;
	left: 0;
}	

.profileProgress a:last-child{
	position: absolute;
	right: 0;
}	


.profileProgress p{
	line-height: 47px;
	text-align: center;
	float:left;
	width: 100%;
	color: #a3a2a2;
	font-size: 14px;
	box-shadow: inset 0 0 0 1px #edecec;
}	


/*** STEP 5 ***/
.step5 {
	color: #626060;
}

.step5 .insuranceCover {
	width: 50%;
	font-size: 16px;
	margin-top: 56px;
	margin-bottom: 30px;
}

.step5 .insuranceCover select {
	width: 100%;
	color: #383737;
	font-weight: bold;
	margin-top: 12px;
}

.step5 .insuranceFields {
	margin-bottom: 30px;
}

.step5 .insuranceFields .form-group {
	margin-bottom: 18px;
}

.step5 .insuranceFields .form-group label {
	float: left;
	width: 45%;
	font-size: 16px;
	font-weight: bold;
	line-height: 46px;
}

.step5 .insuranceFields .form-group input {
	float: left;
	width: 45%;
}

.step5 .insuranceUploadTitle {
	font-size: 16px;
	margin-bottom: 10px;
}

.step5 .insuranceUploadTitle a {
	color: #0dae4f;
}

.step5 .insuranceCertificate, .step8 .qualificationCertificate, .step15 .utilityBill, .step16 .passportLicence {
	background: #FFFFFF;
	border: 1px solid #edecec;
	border-radius: 5px;
	padding: 30px 25px;
}

.step5 .insuranceCertificate label, .step8 .qualificationCertificate label, .step15 .utilityBill label, .step16 .passportLicence label {
	float: left;
	background: url(../images/signup/step5_ico.png) no-repeat;
	font-size: 14px;
	font-weight: bold;
	background-size: contain;
	line-height: 30px;
	display: inline-block;
	padding-left: 50px;
}

.step5 .insuranceCertificate .inputFile, .step8 .qualificationCertificate .inputFile, .step15 .utilityBill .inputFile, .step16 .passportLicence .inputFile {
	float: right;
	width: 20%;
	height: 30px;
}

.step5 .insuranceCertificate .inputFile button, .step8 .qualificationCertificate .inputFile button, .step15 .utilityBill .inputFile button, .step16 .passportLicence .inputFile button {
	background: url(../images/signup/upload.png) no-repeat center center;
	background-size: contain;
	width: 100%;
	height: 100%;
	border: none;
}

.step5 .box .formats, .step8 .box .formats, .step15 .box .formats, .step16 .box .formats {
	font-size: 12px;
	color: #9a9a9a;
	margin-top: 10px;
}

.step5 .box h4, .step8 .box h4, .step15 .box h4, .step16 .box h4 {
	font-size: 14px;
	font-weight: bold;
	margin-top: 30px;
	background: url(../images/signup/locked.png) no-repeat left center;
	background-size: contain;
	padding-left: 25px;
	line-height: 20px;
	height: 20px;
}

.step5 .box .why, .step8 .box .why, .step15 .box .why, .step16 .box .why {
	color: #9a9a9a;
	margin-top: 14px;
	padding-bottom: 14px;
}

.step5 .padlock {
	position: absolute;
	right: 0;
	max-width: 26%;
}

/*** STEP 6 ***/
.step6 .personalInformation {
	font-size: 35px;
	font-weight: bold;
}

.step6 .signupDetails{
	padding-top: 8%;
}


.step6 .fields {
   height: auto;
   overflow: hidden;
	
}

.step6 .left {
    float: left; /* not needed, just for clarification */
    /* the next props are meant to keep this block independent from the other floated one */
    width: 30%;
    overflow: hidden;
}

.step6  .right {
	width: 70%;
    float: right;
}	

.step6  .right .formGroup  {
	padding-top: 3%;
}	


.step6  .right .radios  {
	padding-top: 3%;
}	

.step6  .right .formGroup > div:first-child {
	width: 30%;	
	float:left;
	line-height: 46px;
}	

.step6  .right .formGroup > div:last-child  {
	float:right;
	width: 68%;	
}	

.step6  .right .formGroup > div:last-child  select {
	width: 100%;	
}	


.step6  .right .formGroup > label {
	float:left;
	line-height: 46px;
	width: 30%;	
	text-align:right;

}	

.step6  .right .formGroup > input {
	width: 63%;
	float:right;
}	

.step6  .right .formGroup > select {
	width: 68%;
	float:right;
}	

.step6  .right .formGroup > div #cityCode  {
	width: 13%;	

}	

.step6 .right .formGroup.custom > div:first-child {
	
	line-height: 14px;
}

.step6  .right .formGroup > div #phoneNumber  {
	width: 70%;	

}	

.step6  h4 {
	font-size: 14px;
	font-weight: bold;
	margin-top: 30px;
	background: url(../images/signup/locked.png) no-repeat left center;
	background-size: contain;
	padding-left: 25px;
	line-height: 20px;
	height: 20px;
}

.step6  .why {
	color: #9a9a9a;
	margin-top: 14px;
	padding-bottom: 14px;
}



/*** STEP 7 ***/
.step7 {
	font-size: 14px;
}

.step7 h2{
	font-size: 35px;
	color: #000000;
	margin: 30px 0 40px 0;
}
.step7 .text{
	font-size: 14px;
	color: #a6a7a9;
	margin: 30px 0 40px 0;
}
.step7 .skills_row{
	margin-bottom: 4px;
}
.step7 .skills_row .item {
	height: 142px;
	background: #f7f7f7;
	border: 1px solid #eeeded;
	border-radius: 4px;
	padding: 0;
	margin: 0;
	position: relative;
}
.step7 .skills_row .item:first-child {
	float: left;
	width:49%;
}

.step7 .skills_row .item:last-child {
	float: right;
	width:49%;
}

.step7 .skills_row .item .image{
	float: left;
	width: 35%;
	margin-left: 10px;
	background: no-repeat #f7f7f7;
	background-size: contain;
	height: 100%;
	background-position: center center;
}

.step7 .skills_row .item p{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: #000000;
	line-height: 19px;
	width: 30%;
	float: left;
	margin-top: 52px;
	margin-left: 9%;
}
.step7 .skills_row .item .checkbox{
	position: absolute;
	right: 4px;
}
.step7 .skills_row .item .checkbox input{
	width: 31px;
	height: 26px;
	margin-top:17%;
}
.step7 .skills_row .item .image_plumbing{	
	background-image: url(../images/signup/step7_plumbing.png);
}
.step7 .skills_row .item .image_building{	
	background-image: url(../images/signup/step7_building.png);
}
.step7 .skills_row .item .image_electrical{	
	background-image: url(../images/signup/step7_electrical.png);
}
.step7 .skills_row .item .image_landscaping{	
	background-image: url(../images/signup/step7_landscaping.png);
}
.step7 .skills_row .item .image_carpentary{	
	background-image: url(../images/signup/step7_carpentary.png);
}
.step7 .skills_row .item .image_painting{	
	background-image: url(../images/signup/step7_painting.png);
}
.step7 .skills_row .item .image_handyman{	
	background-image: url(../images/signup/step7_handyman.png);
}
.step7 .skills_row .item .image_locksmith{	
	background-image: url(../images/signup/step7_locksmith.png);
}
.step7 .skills_row .item .image_cleaning{	
	background-image: url(../images/signup/step7_cleaning.png);
}
.step7 .skills_row .item .image_hair{	
	background-image: url(../images/signup/step7_hairdressing.png);
}
.step7 .skills_row .item .image_appliance{	
	background-image: url(../images/signup/step7_appliance.png);
}
.step7 .skills_row .item .image_pet{	
	background-image: url(../images/signup/step7_pet.png);
}
.step7 .skills_row .item .image_child{	
	background-image: url(../images/signup/step7_childcare.png);
}
.step7 .skills_row .item .image_boiler{	
	background-image: url(../images/signup/step7_boiler.png);
}
.step7 .skills_row .item .image_flooring{	
	background-image: url(../images/signup/step7_flooring.png);
}
.step7 .skills_row .item .image_roofing{	
	background-image: url(../images/signup/step7_roofing.png);
}

.step7 .other{
	margin-top: 30px;
}

.step7 .other .other_label{
	width: 23%;
	float: left;
	padding-left: 20%;
	font-size: 20px;
	font-weight: bold;
}

.step7 .other .checkbox input[type='checkbox']{
	width: 31px;
	height: 26px;
}
.step7 .other .checkbox input[type='text']{
	height: 44px;
	border: 1px solid #eeeded;
	border-radius: 4px;
	font-size: 16px;
	padding: 0;
	margin: 0;
	width: 37%;
	margin-left: 5%;
}
.step7 .other p {
	margin-left: 20%;
	color:#2aad59;
	text-decoration: underline;
}

.step7 .describe{
	margin-top:52px;
}

.step7 .describe p{
	font-size: 15px;
	font-weight: bold;
}
.step7 .describe textarea{
	margin-top: 3%;
	width: 77%;
	height: 106px;
	border: 1px solid #eeeded;
	border-radius: 4px;
	font-size: 16px;
}

.step7 .describe p{
	font-size: 16px;
}

.step7 .experience{
	margin-top:10px;
}


.step7 .experience select{
	width: 43%;
	color: #383737;
	background-color:#FFFFFF;
	font-weight: bold;
	margin-top: 12px;
}

.step7 .profileProgress{
	margin-top: 70px;
}

/*** STEP 8 ***/
.step8 .qualificationTop {
	margin-top: 50px;
}

.step8 .qualificationTop div:first-child {
	width: 50%;
	float: left;
}

.step8 .qualificationTop div:last-child {
	width: 50%;
	float: left;
}

.step8 .qualificationTop label {
	width: 100%;
	margin-bottom: 10px;
	display: block;
}

.step8 .qualificationTop select {
	width: 100%;
	font-weight: bold;
	color: #383737;
}

.step8 .qualificationTop .detail {
	font-size: 12px;
	color: #05a748;
	margin-top: 10px;
}

.step8 .uploadTopTitle {
	margin-top: 30px;
	margin-bottom: 10px;
}

.step8 .cerificateContent img {
	max-width: 70%;
	margin: 30px auto 40px auto;
	display: block;
}

.step8 .qualificationCertificate {
	margin-top: 20px;
}

.step8 .qualificationCertificate label {
	background-image: url(../images/signup/step8_ico.png);
}





/*** STEP 9 ***/

.step9 h2{
	font-size: 35px;
	color: #000000;
	margin: 30px 0 40px 0;
}
.step9 .text{
	font-size: 14px;
	color: #a6a7a9;
	margin: 30px 0 40px 0;
	line-height: 16px;
}
.step9 .availability_row .item {
	height: 149px;
	background: #f7f7f7;
	border-radius: 4px;
	padding: 0;
	border-right: 1px solid #e3e1e1;
	border-bottom: 1px solid #e3e1e1;
	/* box-shadow: inset 0 0 0 1px #eeeded; */
	margin: 0;
	position: relative;
}
.step9 .availability_row .item:first-child {
	float: left;
	width:49%;
}

.step9 .availability_row .item:last-child {
	float: right;
	width:50%;
}

.step9 .availability_row .item .image{
	float: left;
	width: 35%;
	margin-left: 10px;
	background: no-repeat #f7f7f7;
	background-size: contain;
	height: 100%;
	background-position: center center;
}

.step9 .availability_row .item p{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: #000000;
	line-height: 19px;
	width: 35%;
	float: left;
	margin-top: 52px;
	margin-left: 9%;
}

.step9 .availability_row .item.hours p{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: #000000;
	line-height: 26px;
	width: 70%;
	float: left;
	margin-top: 0;
	margin-left: 9%;
}
.step9 .availability_row .item .container{
	float: right;
	width: 60%;
	margin-top: 26px;
}
.step9 .availability_row .item .checkboxContainer{
	display: inline-block;
	width: 100%;
}
.step9 .availability_row .item .checkboxs{
	float:right;
}

.step9 .availability_row .item .checkbox input{
	width: 31px;
	height: 26px;
	margin-top:50px;
}

.step9 .availability_row .item .checkboxs input{
	width: 31px;
	height: 26px;
}
.step9 .availability_row .item .image_calendar{	
	background-image: url(../images/signup/step9_calendar.png);
}

.step9 .availability_row .item .image_clock{	
	background-image: url(../images/signup/step9_clock.png);
}


.step9 .notice{
	margin-top:25px;
}

.step9 select{
	width: 43%;
	color: #383737;
	background-color:#FFFFFF;
	font-weight: bold;
	margin-top: 12px;
}

.step9 .hours{
	margin-top:25px;
}


/** STEP 10 **/
.step10 .workLocationTextIntro {
	margin: 30px 0 20px 0;
}

.step10 .workLocation {
	width: 100%;
	display: table;
}

.step10 .workLocation > img {
	float: left;
	width: 28%;
}

.step10 .workLocation > textarea, .step10 .workLocation > div.tagsinput {
	float: right;
	height: 100%;
	width: 65%;
	padding: 10px;
}

.step10 .workLocation > div.tagsinput {
	height: 44px;
	background: #f7f7f7;
	border: 1px solid #eeeded;
	border-radius: 4px;
	font-size: 16px;
	color: #7e7c7c;
}

.step10 .workLocation > div.tagsinput input {
	font-family: Arial;
	font-size: 14px;
	padding: 12px;
}

.step10 .workLocation > div.tagsinput span.tag {
	background: #e7e7e7;
	border: 1px solid #dbdada;
	font-size: 14px;
	font-family: Arial;
	color: #575757;
	padding: 12px;
	border-radius: 4px;
}

.step10 .workLocation > div.tagsinput span.tag a {
	color: #575757;
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
}


/*** STEP 11 ***/
.step11 h2 {
	margin-bottom: 45px;
}

.step11 .content p {
	font-size: 15px;
	line-height: 20px;
}

.step11 .content p a, .step11 .content p.green {
	color: #11b153;
}

.step11 .actions {
	margin-top: 40px;
}

.step11 .actions a {
	background-size: contain;
	background-repeat: no-repeat;
	border: none;
	width: 36%;
	height: 51px;
	display: block;
	float: left;
}

.step11 .actions a.cancel {
	background-image: url(../images/signup/cancel.png);
}

.step11 .actions a.continue {
	background-image: url(../images/signup/continue2.png);
}

/*** STEP 12 ***/
.step12 .signupDetails {
	padding-top: 8%;
}


.step12 .fields {
   height: auto;
   overflow: hidden;
	
}

.step12 .left {
    float: left; /* not needed, just for clarification */
    /* the next props are meant to keep this block independent from the other floated one */
    width: 30%;
    overflow: hidden;
}

.step12 .right {
	width: 70%;
    float: right;
}	

.step12 .right .formGroup  {
	padding-top: 3%;
}	

.step12  .right .formGroup > div:first-child {
	width: 30%;	
	float:left;
	line-height: 46px;
}	

.step12  .right .formGroup > div:last-child  {
	float:right;
	width: 68%;	
}	

.step12  .right .formGroup > div:last-child  select {
	width: 100%;	
}	


.step12  .right .formGroup > label {
	float:left;
	line-height: 46px;
	width: 30%;	
	text-align: left;
}	

.step12  .right .formGroup > input {
	width: 63%;
	float:right;
}	

.step12  .right .formGroup > select {
	width: 68%;
	float:right;
}	

.step12 .right .formGroup > div #cityCode  {
	width: 13%;	

}

.step12 .right .formGroup > div #phoneNumber  {
	width: 70%;	

}	

/*** STEP 13 ***/
.step13 h2 {
	margin-bottom: 25px;
}

.step13 .signupDetails {
	padding-top: 8%;
}

.step13 .fields {
   height: auto;
   overflow: hidden;
	
}

.step13 .left {
    float: left; /* not needed, just for clarification */
    /* the next props are meant to keep this block independent from the other floated one */
    width: 30%;
    overflow: hidden;
}

.step13 .right {
	width: 70%;
    float: right;
}	

.step13 .right .formGroup  {
	padding-top: 3%;
}	

.step13  .right .formGroup > div:first-child {
	width: 30%;	
	float:left;
	line-height: 46px;
}	

.step13  .right .formGroup > div:last-child  {
	float:right;
	width: 68%;	
}	

.step13  .right .formGroup > div:last-child  select {
	width: 100%;	
}	

.step13  .right .formGroup > label {
	float:left;
	line-height: 46px;
	width: 30%;	
	text-align: left;
}	

.step13  .right .formGroup > input {
	width: 63%;
	float:right;
}	

.step13  .right .formGroup > select {
	width: 68%;
	float:right;
}	

.step13 .right .formGroup > div #cityCode  {
	width: 21%;	
}

.step13 .right .formGroup > div #phoneNumber  {
	width: 70%;	
	padding:0;
}	

.step13 .actions a {
	background-size: contain;
	background-repeat: no-repeat;
	border: none;
	width: 45%;
	height: 51px;
	display: block;
	float: left;
}

.step13 .actions a.sendSmsButton {
	background-image: url(../images/signup/sendsms.png);
}

.step13 .actions a.sendVoiceCallButton {
	background-image: url(../images/signup/voicecall.png);
	float: right;
}

.step13 p.verify {
	font-size: 16px;
}

.step13 p.verify a {
	color: #11b153;
}

/*** STEP 14 ***/
.step14 h2 {
	margin-bottom: 25px;
}

.step14 .signupDetails {
	padding-top: 8%;
}

.step14 .fields {
   height: auto;
   overflow: hidden;
}

.step14 .left {
    float: left; /* not needed, just for clarification */
    /* the next props are meant to keep this block independent from the other floated one */
    width: 30%;
    overflow: hidden;
}

.step14 .right {
	width: 70%;
    float: right;
}	

.step14 .right .formGroup  {
	padding-top: 3%;
}	

.step14  .right .formGroup > div:first-child {
	width: 30%;	
	float:left;
	line-height: 46px;
}	

.step14 .right .formGroup > div:last-child  {
	float:right;
	width: 68%;	
}	

.step14 .right .formGroup > div:last-child  select {
	width: 100%;	
}	

.step14 .right .formGroup > label {
	float:left;
	line-height: 46px;
	width: 30%;	
	text-align: left;
}	

.step14 .right .formGroup > input {
	width: 63%;
	float:right;
}	

.step14 .right .formGroup > select {
	width: 68%;
	float:right;
}	

.step14 .right .formGroup.verifyText {
	margin: 20px 0;
}

.step14 .actions a {
	background-size: contain;
	background-repeat: no-repeat;
	border: none;
	width: 45%;
	height: 51px;
	display: block;
	float: left;
}

.step14 .actions a.verifyButton {
	background-image: url(../images/signup/verify.png);
}

.step14 p.verify {
	font-size: 16px;
	line-height: 20px;
}

.step14 p.verify a {
	color: #11b153;
}

/*** STEP 15 ***/
.step15 .addressVerificationIntroText {
	margin: 30px 0 20px 0;
	line-height: 22px;
}

.step15 .addressVerificationIntroText a {
	color: #11b153;
}

.step15 .box .addressContent img {
	max-width: 50%;
	margin: 10px auto 20px auto;
	display: block;
}

.step15 .utilityBill label {
	line-height: 15px;
	font-weight: normal;
}



/** STEP 16 **/

.step16 h2{
	margin-bottom: 40px;
}

.step16 .accepted {
	border-bottom: 2px solid #ecebeb;
	padding-bottom: 15px;
}

.step16 .accepted p {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: #000000;
}

.step16 .documents{
	margin-top: 10px;
}

.step16 .documents .passport{
	width:50%;
	float:left;
}

.step16 .documents .licence{
	width:50%;
	float:right;
}

.step16 .documents .passport p, .step16 .documents .licence p{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: #000000;
	padding: 11px 0;
}

.step16 .passportLicence label{
	line-height: 20px;
	font-weight: normal;
	padding-left: 14%;
}
.step16 .country{
	font-size: 16px;
	font-weight: bold;
	color: #000000;
	margin: 55px 0;
}
.step16 .country label{
	float: left;
	width: 30%;
	padding-left: 8%;
	padding-top: 14px;
}

.step16 .country select{
	width:59%;
	float:right;
}
